@import 'tailwindcss';

body {
  background-color: hsl(262, 66%, 33%);
  color: white;
}

#invite-discord-bot-link {
  text-align: center;
  background: linear-gradient(90deg, #5a64f1, #df47d2);
}

#invite-discord-bot-link:hover {
  background: linear-gradient(90deg, #6871ed, #ea5cde);
}
